body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#formLayout{
    width: 16rem;
    height: fit-content;
    background-color: rgb(170, 166, 166);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5%;
    gap: 10px;
}

#UserHeading{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight:600;
    text-align: center;
}

.labels{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight:600;
    text-align: start;
    color: white;
    
}

.textInputs{
    height: 30px;
}

.RadioInputs{
    /* font-size: 0.6rem; */
    color: white;
    align-self: center;
}